<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <div class="row">
            <div class="col-6">
<div class="image">
    <img src="Public/Images/Uploaded_Images/Image-1729562138209.jpg" class="card-img-top" alt="..." style="width: 100%;height:55%">
</div>
            </div>
            <div class="col-6">
                <p>Fullname : Tadiwanashe Jabangwe</p>
                <p>Gender : M</p>
                <p>Fullname : Tadiwanashe Jabangwe</p>
                <p>Fullname : Tadiwanashe Jabangwe</p>
                <p>Fullname : Tadiwanashe Jabangwe</p>
                <p>Fullname : Tadiwanashe Jabangwe</p>
                <p>Fullname : Tadiwanashe Jabangwe</p>
            </div>
        </div>
    </div>
</body>
</html>